
<div class="login-form-2">
    <h3>Login do Sistema</h3>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder=" Email *" value="" />
        </div><br>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha *" value="" />
        </div><br>
        <div class="form-group">
            <input type="submit" class="btnSubmit" value="Login" href="/quinto"/>
        </div><br>
        <div class="form-group">

            <a href="#" class="ForgetPwd" value="Login">Esqueceu sua senha?</a><br>
            <a href="/quarto" class="ForgetPwd" value="Login">Não possuo cadastro</a>
        </div>
    </form>
</div>
