<div class="container-fluid">
<div id="id1"><br><br>
  <div >
      <form action="Tela de cadastro da reclamação" method="post">
      <a class="navbar-brand">
        Sistema de Cadastro
            </a>
      <br><br>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Estado</label>
        <select id="inputState" class="form-select">
          <option selected>BA</option>
          <option>PE</option>
          <option>MG</option>
          <option>SC</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Número</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      
  <p>Envie uma foto</p>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02">
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
<input type="submit" value="Continuar" class="botao">
</form>
  </div>
  </div>
</div>