

img{
margin-left: 30%;
width: 600px;
margin-bottom: 15px;
margin-top: 20px;
}


.img-thumbnail{
margin-left: 2px;
margin-bottom: 15px;


}

p{
    color: blue;
}
.card{
    margin-bottom: 20px;
}

.fim{
background-color: darkblue;


}